* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: 'Montserrat', sans-serif;
}
html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    text-align: center;
}
.wrap1 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
}
.wrap2 {
    display: table-cell;
    vertical-align: middle;
}
.floating {
    width: 100%;
    position: absolute;
    z-index: 999;
}
h1 {
    font-size: 90px;
}
ul.score {
    padding-left: 0px;
}
.score > li {
    display: inline-block;
}
.label p {
    display: inline-block;
}
.brand {
    font-size: 60px;
}
#answer {
    text-align: center;
    font-size: 30px;
    height: 60px;
}
.brand {
    color: #7B7B7B;
    font-size: 35px;
    margin-bottom: 0px;
}

.clickable {
    cursor: pointer;
}
.clickable:hover .label-primary {
    background-color: #609BCE;
}